# may contain sensitive info
*.env

# ida files in $HOME/.idapro
ida*
idasetup
!idamagic
proccache64.lst

# python files
.python-version
*__pycache__

build/
dist/
redist-env/
dependencies/

*.egg*

unknowncyberidaplugin.tgz
unknowncyberidaplugin.zip
