# ignore everything to hide the many IDA plugins files
*

# include related project folders
!README.md

# we want to track the actual plugin entry file and folder
!MAGIC_plugin_entry.py
!MAGIC
!MAGIC/*
!MAGIC/unknowncyber_interface/*
!MAGIC/IDA_interface/*

# definitely ignore this
.env
ignore